/*******************************
        Small Device  
*******************************/
@media screen and (max-width: 576px) {
  .nav_container {
    flex-direction: column;
    padding: 10px;
    width: 100%;
  }
  .hed-section {
    background: #fff;
    padding: 0;
    box-shadow: none !important;
    padding-bottom: 200px;
  }
  .logo-section {
    padding: 0px 0;
  }

  .hed-section .nav-item-section ul {
    flex-direction: column;
  }
  .nav-item-section ul li {
    padding: 8px 0;
  }

  /*******************************
        Nav Section End 
*******************************/
  .banner-container {
    flex-direction: column;
    width: 100%;
  }
  .banner-img-section img {
    order: 1;
    margin-top: 100px;
    width: 400px;
    margin-left: 10px;
  }
  .banner-info-section {
    order: 2;
    margin: 0 10px;
  }

  /*******************************
        Banner Section End 
*******************************/
  .feature-container {
    margin-bottom: 200px;
  }
  .feature-div {
    flex-direction: column;
    width: 100%;
  }
  .feature-div img {
    width: 100%;
  }
  .info-section {
    width: 100%;
  }
  .info-section h2,
  h3 {
    font-size: 20px;
    text-align: center;
  }
  .info-section p {
    font-size: 16px;
    text-align: center;
    padding: 0 10px;
  }
  .info-section button {
    margin-right: 100px;
  }
  /*******************************
        Feature Section End 
*******************************/
  .online-game-card-section {
    flex-direction: column;
    width: 100%;
  }
  .card-online img {
    width: 100%;
    /* margin-left: 40px; */
    margin: 0 40px;
  }
  .online-game-title p {
    font-size: 16px;
    padding: 0 20px;
  }
  .card-online p {
    font-size: 16px;
    padding: 0 30px;
  }
  /*******************************
    Online Game Section End 
*******************************/

  .play-section {
    flex-direction: column;
    width: 100%;
  }
  .play-info-div h2 {
    font-size: 20px;
    text-align: center;
    padding: 0 20px;
    margin-bottom: 40px;
  }
  .play-info-div p {
    font-size: 16px;
    padding: 0 20px;
    margin-bottom: 20px;
  }
  .img-2-sec img {
    display: none;
  }
  .play-img-div .res-1 {
    width: 130%;
    margin-right: 80px;
    margin-left: -40px;
    margin-top: 40px;
    margin-bottom: -40px;
  }
  .play-img-div .res-2 {
    display: none;
  }
  .img-1-sec img {
    display: none;
  }
  /*******************************
    play Game Section End 
*******************************/
  .career-container {
    display: none;
  }
  .review-section {
    flex-direction: column;
  }
  .single-review-card {
    flex-wrap: wrap;
  }
}

/*******************************
        Medium Device  
*******************************/
@media screen and (min-width: 576px) and (max-width: 960px) {
  .hed-section {
    padding: 0 40px;
  }

  /*******************************
        Nav Section End 
*******************************/
  .banner-container {
    flex-direction: column;
  }
  .banner-img-section img {
    order: 1;
    width: 100%;
    margin-top: 400px;
    margin-left: 45px;
  }
  .banner-info-section {
    order: 2;
    margin-left: 40px;
    padding: 20px;
    margin-right: 0;
  }
}
