@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

:root {
  --font-family: 'Work Sans', sans-serif;
  --btn-primary-color: #ff42a5;
  --title-font-color: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  --font-color: #0b0223;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section-container {
  max-width: 1440px;
  margin: 0 auto;
}
.btn-primary {
  padding: 21px 40px;
  border-radius: 48px;
  background: var(--btn-primary-color);
  color: #fff;
  font-family: var(--font-family);
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  border: none;
}
/*******************************
        Nav Section Start
*******************************/
.hed-section {
  height: 100px;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
  position: sticky;
  top: 0;
}
.nav_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 0;
}
.logo-section img {
  width: 3.6rem;
  height: 2rem;
  margin-right: 1rem;
}
.logo-section h2 {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--font-color);
  font-family: var(--font-family);
}
.logo-section h2 span {
  color: var(--btn-primary-color);
}
.hed-section .nav-item-section ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-item-section ul li {
  list-style: none;
  text-align: center;
  margin-right: 30px;
}
.nav-item-section li a {
  text-decoration: none;
  color: #3c354f;
  font-family: var(--font-family);
  font-size: 18px;
  font-weight: 500;
}
.nav-item-section ul .nav-btn {
  width: 200px;
  height: 2.5rem;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  border: none;
}
.nav-btn {
  color: #3c354f;
  text-align: center;
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 500;
}
.nav-btn i {
  margin-left: 8px;
  align-items: center;
  font-size: 16px;
}
button .fa-youtube::before {
  color: #f61c0d;
}
/*******************************
        Nav Section End 
*******************************/
.banner-container {
  display: flex;
  background: #fff;
  /* height: 100vh; */
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.banner-info-section {
  background-image: url('../images/Group\ 14.png');
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 100px;
}
.info-banner h2 {
  color: var(--font-color);
  text-align: center;
  font-family: var(--font-family);
  font-size: 48px;
  font-weight: 600;
  text-transform: uppercase;
}
.info-banner h1 {
  text-align: center;
  font-family: var(--font-family);
  font-size: 90px;
  font-weight: 800;
  text-transform: uppercase;
  background: var(--title-font-color);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 20px 0;
}
.info-banner p {
  color: #534c64;
  text-align: start;
  font-family: var(--font-family);
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
  text-transform: lowercase;
}
.info-banner p i {
  width: 24px;
  height: 24px;
  color: var(--btn-primary-color);
  margin-right: 10px;
}
.banner-img-section {
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-right: 100px;
}
.btn {
  margin-left: 20px;
  background: #4ec5f7 !important;
}
/*******************************
        Banner Section End 
*******************************/
.feature-container {
  background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 0%,
    rgba(255, 66, 165, 0.03) 100%
  );
  width: 100%;
  height: 600px;
}
.feature-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  padding: 40px 0;
}
.info-section {
  text-align: right;
}
.info-section h2 {
  font-family: var(--font-family);
  font-size: 48px;
  font-weight: 700;
  background: var(--title-font-color);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 20px;
}
.info-section p {
  color: #534c64;
  font-family: var(--font-family);
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 30px;
}
.info-section h3 {
  color: #534c64;
  font-family: var(--font-family);
  font-size: 25px;
  font-weight: 700;
}
.info-section button {
  margin-bottom: 30px;
}
.feature-div .img-section {
  width: 100%;
}
/*******************************
        Feature Section End 
*******************************/
.online-game-section {
  background: #fff;
  width: 100%;
}
.online-game-title {
  text-align: center;
  padding-top: 40px;
}
.online-game-title h2 {
  color: var(--font-color);
  font-family: var(--font-family);
  font-size: 48px;
  font-weight: 700;
}
.online-game-title h2 span {
  background: var(--title-font-color);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: var(--font-family);
  font-size: 48px;
  font-weight: 700;
}
.online-game-title p {
  color: #534c64;
  text-align: center;
  font-family: var(--font-family);
  font-size: 18px;
  font-weight: 400;
  margin-top: 10px;
}
.online-game-card-section {
  display: flex;
  padding: 40px 0;
  gap: 30px;
}
.card-online {
  position: relative;
}
.card-online p {
  color: #534c64;
  font-family: var(--font-family);
  font-size: 20px;
  font-weight: 500;
  margin-top: 20px;
}
.card-online img {
  width: 342px;
  height: 400px;
  z-index: 0;
}
.card-online .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 84.5%;
  width: 100%;
  opacity: 0;
  transition: 0.3s ease;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(0, 0, 0, 0.6) 100%
  );
  border-radius: 18px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  -o-border-radius: 18px;
}
.card-online i {
  color: white;
  font-size: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.card-online h5 {
  color: white;
  font-size: 30px;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.card-online:hover .overlay {
  opacity: 1;
}
/*******************************
    Online Game Section End 
*******************************/
.play-section {
  background: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: right;
  padding: 60px 100px;
}
.play-info-div {
  width: 400px;
}
.play-info-div h2 span {
  background: var(--title-font-color);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: var(--font-family);
  font-size: 48px;
  font-weight: 700;
}
.play-info-div h2 {
  color: var(--font-color);
  font-family: var(--font-family);
  font-size: 48px;
  font-weight: 700;
  text-align: right;
}
.play-info-div p {
  color: #534c64;
  font-family: var(--font-family);
  font-size: 18px;
  font-weight: 400;
  text-align: right;
  margin-top: 20px;
}
.img-2-sec img {
  position: relative;
  margin-right: 450px;
  margin-top: -300px;
}
